body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navLinks {
  font-weight: bold;
  padding-left: 20px;
  margin-top: 30px;
}

input {
  margin-left: 1000px;
}

.box {
  height: 100px;
  width: 220px;
  background-color: rgb(52, 126, 197);
  color: #fff;
  padding: 10px;
  border: solid 3px gray;
  border-bottom: 0px;
  margin: 0;
  margin-left: 20px;
  margin-top: 100px;
}

.boxtwo {
  height: 100px;
  width: 220px;
  padding: 10px;
  border: solid 3px gray;
  border-top: 0px;
  margin: 0;
  margin-left: 20px;
}

.boxthree {
  height: 310px;
  color: black;
  width: 220px;
  padding: 10px;
  border: solid 3px gray;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  margin-top: 80px;
  border: solid 3px white;
  border-radius: 50%;
}

.profileName {
padding-left: 55px;
}

.profileLinks {
  padding-left: 10px;
  font-size: 12px;
}

a {
  padding-left: 15px;
  text-decoration: none;
}